*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
    height: 700px;
}

.container{
    width: 450px;
    height: 500px;
    background:linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(53, 212, 119, 1) 100%, rgba(237, 221, 83, 1) 92%);
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    margin-top: 120px;
}

.searchbar{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.city {
    height: 50px;
    width: 290px;
    border: 2px solid rgba(255, 255, 255, 0.3); /* light transparent default */
    border-radius: 50px;
    padding-left: 20px;
    transition: all 0.3s ease; /* smooth transition */
    background-color: rgba(255, 255, 255, 0.05); /* subtle transparent bg */
    color: white;
}

.city::placeholder{
    color: white;
    font-weight: 700;
}

.search{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.city:focus {
    border: 2px solid #d3ebe3; /* bright greenish border */
    outline: none;
}

.search i{
    font-size: 20px;
    /* font-weight: 500; */
}

.search:hover{
    transform: translateY(-5px);
}

.icon{
    font-weight: 500;
    text-align: center;
}

.icon i {
    font-size: 100px;
    color: white;
}

.icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.temp{
    color: white;
    font-size: 38px;
    font-weight: 700;
}

.name{
    color: white;
    font-size: 25px;  
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.info1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.info2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}

.info1logo i{
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.info1info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.info1info p{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.info2logo i{
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.info2info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.info2info p{
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
}

.humidity{
    font-size: 55px;
}

.pressure{
    width: 110px
}